/**
 * ===========================
 * Mono Typist Component
 * ===========================
 */

mono-typist {
	--cursor-blinker: '|';
	--cursor-speed: 0.53s;
	--cursor-easing: cubic-bezier(1, 0, 0, 1);
}